@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	height: 100vh;
	margin: 0;
	font-family: 'Noto Sans TC', sans-serif;
}

header {
	background-color: #449596;
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header span {
	margin: 0;
	font-size: 24px;
	letter-spacing: 2px;
	margin-right: auto;
}

header span a {
	text-decoration: none;
	color: #fff;
}

@media (max-width: 520px) {
	header span {
		display: none;
	}
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

header nav li {
	margin-right: 10px;
}

header nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 20px;
	transition: all 0.2s ease-in-out;
}

header nav a:hover {
	background-color: #3d7c7d;
	color: #ccc;
	cursor: pointer;
}

main {
	display: flex;
}

.legend {
	line-height: 18px;
	color: #555;
	padding: 6px 8px;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
