@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	height: 100vh;
	margin: 0;
	font-family: 'Noto Sans TC', sans-serif;
}

header {
	background-color: #449596;
	color: #fff;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header span {
	margin: 0 0.5em;
	font-size: 1.2em;
	letter-spacing: 2px;
}

header span a {
	text-decoration: none;
	color: #fff;
}

@media (max-width: 520px) {
	header span {
		display: none;
	}
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

header nav li {
	margin-right: 1.5em;
}

header nav a {
	color: #fff;
	text-decoration: none;
}

main {
	display: flex;
	height: 100%;
}

.content {
	margin: 3vh 4vw;
}
